doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title About Us
  link(rel='stylesheet', href='css/about.css')
.main-content
  .nav
    .navbar
      .logo
        a(href='./index.html')
          | Magala 
          span Coffee
      .menu
        ul
          li
            a(href='./index.html') Home
          li
            a(href='./about.html') About
          li
            a(href='./products.html') Our Products
      .login
        ul
          li
            a.btn(href='#') Login
          li
            a.btn(href='#') Register
  .content
    .header
      .coffee COFFEE
      .every
        span for
        |  EVERYBODY
      .heather magalacoffee.com
    .about
      img(src='assets/images/hero-image.jpg', alt='')
      p
        | Since our founding in 2009, our passion has always been bringing you gourmet
        | coffees from all over the world, roasted fresh to order in eco-friendly
        | Loring&trade; Smart Roasters. We&rsquo;re committed to quality, service, integrity,
        | approachability, and sustainability. This means more top-notch coffee in
        | your cup, more money in your wallet, and less impact on our environment.
      p
        | Our coffees are roasted fresh to order, immediately packaged, nitrogen
        | flushed, and shipped directly to your door. We want our customers to
        | experience fresh coffee at peak drinkability, just a few days after being
        | roasted to perfection.
      p
        | We&rsquo;ve built our business by roasting exceptional Coffee for Everybody&trade;,
        | whether you&rsquo;re a coffee connoisseur or just looking for a better cup to
        | start your morning.
      p
        | We have been fortunate enough to be named one of Inc. 500&rsquo;s fastest-growing
        | private businesses in the country in 2015 and 2016, and in 2017, we made the
        | top 5000! This, however, is the beginning of our impact. Our dedication to
        | our customers and our partners at origin continue to drive our business and
        | our success.
      p
        | Give us a try. We think you&rsquo;ll find that one cup is all it takes to fall in
        | love with Fresh Roasted Coffee.
    .rule .
    .team
      h1 MEET THE TEAM
      .teams
        .teams-prof
          img(src='/images/rihanna.png', alt='')
          .name Heather Ann N
          p Founder, Owner, CEO
        .teams-prof
          img(src='/images/cersei.jpg', alt='')
          .name Lisa Kihumuro
          p Operations Director
        .teams-prof
          img(src='/images/pinkman.jpg', alt='')
          .name Daniel .A. Aguti
          p Roast Master
        .teams-prof
          img(src='/images/arya stark.webp', alt='')
          .name Victoria Nanziri
          p Customer Service Rep
        .teams-prof
          img(src='/images/berlin.jpg', alt='')
          .name Francis K. Babu
          p Marketing director
        .teams-prof
          img(src='/images/tokyo.jpg', alt='')
          .name Martha Kemigisha
          p Assistant Manager
        .teams-prof
          img(src='/images/arya stark.webp', alt='')
          .name Sera Nanfuka
          p Assistant Manager
        .teams-prof
          img(src='/images/rihanna.png', alt='')
          .name Jovia Mugisha
          p Assistant Manager
        .teams-prof
          img(src='/images/cersei.jpg', alt='')
          .name Sumayiya B. Nalubega
          p Assistant Manager
        .teams-prof
          img(src='/images/arya stark.webp', alt='')
          .name Catherine Asiimwe
          p Assistant Manager
      .brew-team
        .brew
          h1 THE BREW TEAM CREW
          p
            | From the production floor to the storefront to the creative office,
            | these are the people behind your favorite coffee and tea.
        img(src='/images/brew-team.webp', alt='')
footer
  .footer
    .logo
      h2
        | Magala 
        span Coffee
      img(src='/images/coffee-footer.jpg', alt='')
    .help
      h3 Education
      ul
        li
          a(href='#') About Us
        li
          a(href='#') Blog
        li
          a(href='#') Our Journey
        li
          a(href='#') Coffee Quiz
    .help
      h3 Contact Us
      ul
        li
          a(href='#') Shipping &amp; Returns
        li
          a(href='#') Contact Us
        li
          a(href='#') FAQ
        li
          a(href='#') Auto Deliver
        li
          a(href='#') Refer a Friend
    .help
      h3 Infomation
      ul
        li
          a(href='#') Privacy Policy
        li
          a(href='#') Jobs
        li
          a(href='#') Affiliates
        li
          a(href='#') Rewards
        li
          a(href='#') Wholesale
  p Copyright &copy; 2022. Made with &#x2764;&#xFE0F; by Albert.
