doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Magala Coffee
  link(rel='stylesheet' type='text/css' href='css/style.css')
.main-content.home
  .nav
    .navbar
      .logo
        a(href='./index.html')
          | Magala 
          span Coffee
      .menu
        ul
          li
            a(href='./index.html') Home
          li
            a(href='./about.html') About
          li
            a(href='./products.html') Our Products
      .login
        ul
          li
            a.btn(href='#') Login
          li
            a.btn(href='#') Register
  .body-content
    .coffee COFFEE
    .is-our IS OUR
    .passion PASSION
    p Brings you back to life.
    button
      a(href='./products.html') Our Products
