<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Magala Coffee</title>
		<link rel="stylesheet" type="text/css" href="./assets/css/style.css" />
	</head>
	<body>
		<div class="main-content home">
			<div class="nav">
				<div class="navbar">
					<div class="logo">
						<a href="./index.html"> Magala <span>Coffee</span></a>
					</div>
					<div class="menu">
						<ul>
							<li>
								<a href="./index.html">Home</a>
							</li>
							<li><a href="./about.html">About</a></li>
							<li><a href="./products.html">Our Products</a></li>
						</ul>
					</div>
					<div class="login">
						<ul>
							<li><a class="btn" href="#">Login</a></li>
							<li><a class="btn" href="#">Register</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="body-content">
				<div class="coffee">COFFEE</div>
				<div class="is-our">IS OUR</div>
				<div class="passion">PASSION</div>
				<p>Brings you back to life.</p>
				<button><a href="./products.html">Our Products</a></button>
			</div>
		</div>
	</body>
</html>
