* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	background: rgba(129, 58, 3, 0.753);
}
.main-content {
	padding: 40px 50px;
}
/* ############## NavBar ##################### */

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	font-size: 20px;
}
.logo {
	color: rgb(0, 0, 0);
	font-size: 28px;
	cursor: pointer;
}
span {
	color: #3a1400;
}
.logo a {
	color: #ffffff;
	font-size: 45px;
	text-decoration: none;
}
.navbar ul li {
	list-style-type: none;
	display: inline-block;
	padding: 10px 20px;
}
.navbar ul li a {
	color: white;

	text-decoration: none;
	font-weight: bold;
}
.menu ul li a:hover {
	color: #3a1400;

	transition: 0.3s;
}
.login .btn {
	border: none;
	background: rgba(129, 58, 3, 0.76);
	border-radius: 30px;
	color: #fff;
	padding: 12px 30px;
	font-size: 15px;
	transition: 0.4s;
}
.btn:hover {
	background: #3a1400;
	transform: scale(0.9);
}

.product {
	padding: 40px;
	text-align: center;
}
.product h1 {
	font-size: 45px;
}
.products {
	width: 300px;
}
.products img {
	width: 60%;
	border-radius: 10px;
	margin-bottom: 20px;
}
.products h3 {
	font-size: 20px;
	margin-bottom: 15px;
}
.products p {
	color: rgba(11, 11, 11, 0.7);
}
.grid {
	margin-top: 50px;
	display: grid;
	grid-template-columns: auto auto auto auto;
}

/* footer */
footer {
	background-color: rgba(158, 107, 12, 0.668);
	padding: 20px;
}
.footer {
	display: flex;
	justify-content: space-between;
	margin: 40px;
	color: rgba(0, 0, 0, 0.76);
}
.footer a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.615);
}
.footer li {
	list-style-type: none;
	margin-top: 10px;
}
.logo img {
	width: 250px;
	border-radius: 10px;
}
footer p {
	text-align: center;
}
